# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/
ENV/
.env/
.Python
.pdm-python
__pypackages__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
.nox/

# --- Environment & Secrets ---
.env
.envrc
cred.py
.pypirc
.streamlit/secrets.toml

# --- IDE & Editor ---
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject
.ipynb_checkpoints/

# --- Project Infrastructure (Data & Volumes) ---
# Databases
postgres_dwh_data/
clickhouse_data/
postgres-db-volume/
metabase-data/
# MinIO / Storage
data/
# Spark & Work Directories
work-dir/
spark-temp/
spark-warehouse/
# Airflow
airflow/logs/
airflow/plugins/
airflow/dags/__pycache__/
logs/
plugins/

# --- Temporary & Build Files ---
*.log
*.pid
*.tmp
*.jar
build/
dist/
*.egg-info/
tmp/

# --- OS & System ---
.DS_Store
*.swp

# --- Git ---
.git
.gitattributes

# --- Custom / Extra ---
test_dag_v2.py